@import "../styles/main.less";

.Trust-marker-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-title {
  padding-bottom: 16px;
  text-align: center;
}

.section-description {
  text-align: center;
}
.Trust-marker-image-container {
  padding: 32px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: 20px;
  align-items: flex-start;
  @media @tablet {
    display: grid;
    gap: 16px;
  }
  @media @mobile {
    display: flex;
    padding: 16px;
    gap: 16px;
    flex-direction: column;
  }
}
.marker-link {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  border-radius: @ImageRadius;
  @media @mobile {
    flex-direction: row;
    gap: 16px;
    padding: 16px;
  }
}
.trust_marker_image {
  width: 100px;
  height: 100px;
  margin: auto;
  @media @mobile {
    width: 64px;
    height: 64px;
    flex: 0 0 64px;
    margin: 0;
  }
}
.trust-marker-data {
  display: flex;
  flex-direction: column;
}
.marker-heading {
  font-size: 20px;
  text-align: center;
  line-height: 18px;
  letter-spacing: -0.4px;
  padding-top: 8px;
  text-transform: capitalize;
  color: @TextHeading;
  @media @tablet {
    padding-top: 16px;
    font-size: 14px;
    letter-spacing: -0.28px;
  }
  @media @mobile {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    padding-top: 0px;
    text-align: left;
  }
}

.marker-description {
  color: var(--text-headings, #261a1a);
  text-align: center;
  padding-top: 8px;
  @media @mobile {
    text-align: left;
  }
}
.trustMarker {
  .sliderView {
    padding: 32px 40px;

    --gap: 12px;
    @media @desktop {
      --gap: 24px;
    }

    :global {
      .slick-list {
        margin: 0 calc(var(--gap) / 2 * -1) !important;
        @media @mobile {
          padding-left: 0 !important;
        }
      }

      .slick-slide {
        padding: 0 calc(var(--gap) / 2);
      }
      .slick-next {
        right: 0px;
      }
    }
    @media @tablet {
      padding: 0 24px;
    }
    @media @mobile {
      padding: 0px 16px;
    }
    .bullet-arrow-container {
      @media @mobile {
        display: none;
      }
    }
  }
}
