@import "../main.less";

.sectionWrapper {
  min-height: 450px;
  @media @tablet {
    padding: 0 10px;
    min-height: 370px;
  }
  @media @mobile {
    padding: 0;
    min-height: 420px;
  }
}

.titleBlock {
  padding: 0 40px;
  @media @tablet {
    padding: 0 16px;
  }
  .sectionHeading {
    margin-bottom: 16px;
    text-align: center;
    @media @tablet {
      margin-bottom: 8px;
    }
  }
  .description {
    text-align: center;
    margin-bottom: 32px;
    @media @tablet {
      margin-bottom: 24px;
    }
  }
}

.imageGrid {
  display: grid;
  .grid-gap(32px, 24px);
  padding: 0;
  grid-template-columns: repeat(var(--per_row), 1fr);

  &.singleItem {
    display: flex;
    justify-content: center;
    & > * {
      flex: 0 1 calc(100% / var(--per_row));
      @media @mobile {
        flex: 1;
      }
    }
  }
  @media @tablet {
    grid-template-columns: repeat(var(--brand-item), 1fr);
    .grid-gap(24px, 16px);
    padding: 0 24px;
  }
  @media @mobile {
    .grid-gap(12px);
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px;
  }
}
.imageGallery {
  border-radius: @ImageRadius;
  -webkit-mask-image: -webkit-radial-gradient(white, black); //safari fix
}

.categories-name {
  position: absolute;
  border: 1px solid @DividerStokes;
  background-color: @ThemeAccentL5;
  border-radius: @ButtonRadius;
  padding: 7px 15px;
  text-align: center;
  bottom: 12px;
  left: 12px;
  right: 12px;
  margin: 0 auto;

  //   width: calc(100% - 24px);
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  color: @TextBody;
  @media @desktop {
    padding: 14px 15px;
  }
  width: calc(100% - 24px);
}

.pos-relative {
  position: relative;
}
.streach {
  img {
    object-fit: cover !important;
    height: 100% !important;
  }
  picture {
    background-color: var(--bg-color) !important;
  }
}
.gap-above-button {
  margin-top: 24px;
  @media @tablet-strict {
    margin-top: 16px;
  }
  @media @desktop {
    margin-top: 32px;
  }
}
.section-button {
  padding: 12px 28px;
  text-transform: uppercase;
  border-radius: @ButtonRadius;
  cursor: pointer;
}

.sliderView {
  position: relative;
  --gap: 24px;
  padding: 0 calc(var(--gap) / 2);
  @media @tablet {
    --gap: 16px;
  }
  @media @mobile {
    --gap: 12px;
    padding-left: 16px;
    padding-right: var(--p-right-mob, 16px);
  }
}

.slideWrap,
.slWrap {
  max-width: 100vw;
  min-height: 450px;
  @media @tablet {
    padding: 0 10px;
    min-height: 370px;
  }
  @media @mobile {
    padding: 0;
    min-height: 420px;
  }
}

.bannerImageSliderWrap {
  display: flex;
  @media @tablet {
    display: block;
    .titleBlock {
      display: none;
    }
  }
  align-items: center;
  .bannerImage {
    width: 48%;

    @media @tablet {
      width: 100%;
    }
  }
  .customNextBtn {
    @media @tablet {
      display: none;
    }
  }
  .slideWrapBanner {
    width: 50%;
    padding-left: 22px;

    @media @tablet {
      width: 100vw;
      margin-top: 24px;
      padding: 0;
    }
    @media @mobile {
      padding: 0;
    }

    .slWrap {
      position: relative;
    }
  }
}

.customNextBtn {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 45%;
  right: 4rem;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #aaa;
}
