@import "../../styles/main.less";

.heroImageContainer {
  padding: 0;
  position: relative;
  margin-bottom: calc(var(--margin_bottom) + 16px);
  isolation: isolate;
  overflow: hidden;
  .box-wrapper {
    width: var(--box_width);
    height: var(--box_height);
    opacity: 0;
    position: absolute;
    top: var(--x_position);
    left: var(--y_position);
    cursor: pointer;
    z-index: 10;
    transform: translate(var(--x_offset), var(--y_offset));
  }

  .pointer-wrapper {
    width: 30px;
    height: 30px;
    background-color: @ThemeAccentD5;
    border: 4px solid @ThemeAccentL5;
    border-radius: 50%;
    box-shadow: gray 0px 0px 4px 1px;
    opacity: 1;
    position: absolute;
    top: var(--x_position);
    left: var(--y_position);
    cursor: pointer;
    transition: all 0.2s;
    z-index: 10;
    transform: translate(var(--x_offset), var(--y_offset));

    &:hover {
      background: radial-gradient(
        ellipse at center,
        var(--themeAccentL5, #fff) 36%,
        var(--themeAccentD5, #000) 6px
      );
    }
  }

  .box-wrapper-visible {
    background: red;
    opacity: 0.5;
  }

  .pointer-wrapper-visible {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .desktop-hotspot,
  .mobile-hotspot {
    z-index: 99;
  }

  .tooltip {
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 14px 20px;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: calc(
      var(--x_position) - calc(var(--tooltip-height) / 2 + 60px)
    ); // Adjust for vertical alignment
    left: calc(var(--y_position));
    z-index: 11;
    display: flex;
    gap: 10px;
    margin-left: 41px;

    @media @tablet-strict {
      top: calc(var(--x_position));
      left: calc(var(--y_position) - calc(var(--tooltip-width) / 2 + 160px));
      margin-left: 0;
      margin-top: 40px;
      max-width: 45vw;

      &::after {
        position: absolute;
        top: -16%;
        left: 52%;
        content: "";
        border-right: solid 10px transparent;
        border-bottom: solid 10px white;
        border-top: solid 10px transparent;
        border-left: solid 10px transparent;
      }
    }

    @media @desktop {
      max-width: 25vw;

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
        top: 50%; // Vertically align the arrow
        left: -10px; // Position it right next to the tooltip
        transform: translateY(-50%); // Adjust arrow position to middle
      }
    }

    @media @mobile {
      width: 95%;
      top: unset;
      left: 2.5%;
      margin-left: 0;
      padding: 24px 16px;
      max-height: unset;
      position: fixed;
      z-index: 2;
      bottom: 0;
      cursor: pointer;
    }

    .image-wrapper {
      min-width: 100px;
      min-height: 100px;
      border-radius: 16px;
      @media @tablet-strict {
        margin-right: 13px;
      }
    }

    .close-div {
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px;
      cursor: pointer;
    }

    .close-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .tooltip-action {
      color: @ButtonLink;
      font-size: 14px;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 500;
      bottom: 24px;
    }
  }

  .tooltip-hidden {
    display: none;
  }

  .tooltip-visible {
    display: flex;
    gap: 10px;
  }

  .text-wrapper {
    flex-grow: 1;
    width: 66%;
    @media @tablet-strict {
      margin-top: 20px;
    }

    .tooltip-header {
      color: @TextHeading;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 16px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
      line-height: 120%;
      font-family: "Work Sans", sans-serif !important;

      @media @mobile {
        max-width: 90%;
      }
    }

    .tooltip-description {
      color: @TextBody;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      display: -webkit-box;
      max-width: 16vw;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media @mobile {
        max-width: 95%;
      }
    }
  }

  .tooltip-link {
    margin-top: 16px;
  }
}
.overlayItems {
  position: absolute;
  top: var(--top-position-desktop);
  left: var(--left-position-desktop);
  right: var(--right-position-desktop);
  bottom: var(--bottom-position-desktop);
  transform: var(--transform-desktop);
  text-align: var(--content-alignment-desktop);
  // z-index: 2;
  z-index: 10;
  ::v-deep a {
    z-index: 10;
  }
  @media @mobile {
    padding: 0 1rem;
    width: 100%;
    top: var(--top-position-mobile);
    left: unset;
    right: unset;
    bottom: var(--bottom-position-mobile);
    transform: var(--transform-mobile);
    text-align: var(--content-alignment-mobile);
  }

  @media @tablet-strict {
    max-width: 384px;
    top: var(--top-position-mobile);
    left: var(--left-position-mobile);
    right: var(--right-position-mobile);
    bottom: var(--bottom-position-mobile);
    transform: var(--transform-mobile);
    text-align: var(--content-alignment-mobile);
  }

  @media @desktop {
    max-width: 543px;
  }

  .header {
    font-size: 64px;
    line-height: 66px;

    @media @tablet {
      font-size: 36px;
      line-height: 38px;
      letter-spacing: -0.02em;
    }
  }

  .description {
    margin-top: 8px;
    opacity: 0.8;
  }

  .cta_button {
    margin-top: 32px;
    padding: 16px 32px;
    border-radius: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    &:disabled {
      cursor: not-allowed;
    }

    @media @tablet {
      font-size: 12px;
      margin-top: 24px;
      line-height: 14px;
    }
  }
}
