@import "../main.less";

:global {
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.imageWrapper {
  img {
    transition: 300ms all cubic-bezier(0, 0, 0.2, 1);
  }
}
.carouselImage {
  width: 100%;
  background-color: transparent;
}
