@import "../../styles/main.less";

.compare {
  padding: 24px 16px 80px;
  width: 100vw;
  @media @mobile-up {
    padding: 24px 40px 80px;
  }

  &__breadcrumbs {
    span {
      color: @TextDisabled;

      &.active {
        color: @ButtonPrimary;
      }
    }
    margin-bottom: 24px;
  }
  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
  .compareContainer {
    width: 100%;
    overflow-x: auto;
    .productList {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2%;
      @media @mobile {
        // grid-template-columns: repeat(3, 1fr);
        gap: 8px;
      }
      .product {
        position: relative;
        box-sizing: border-box;
        @media @mobile {
          width: 140px;
          flex: 0 0 140px;
        }
        .crossBtn {
          cursor: pointer;
          position: absolute;
          z-index: 1;
          right: 5px;
          top: 5px;

          svg {
            width: 24px;
            height: 24px;
            fill: @TextBody;
            @media @tablet {
              width: 20px;
              height: 20px;
            }
            @media @mobile {
              width: 11px;
              height: 11px;
            }
          }
        }
      }
      .emptyStateCont {
        position: relative;
        text-align: center;
        height: auto;
        cursor: pointer;
        min-height: 300px;
        @media @tablet {
          min-height: 220px;
        }
        @media @mobile {
          flex: 0 0 140px;
          width: 140px;
          min-height: 228px;
        }

        .emptyBox {
          border-radius: 4px;
          padding: 12px 32px;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          align-self: stretch;
          border: 0.8px solid @ButtonPrimary;
          -webkit-justify-content: center;
          -webkit-align-items: center;
          & > svg {
            width: 48px;
            height: 48px;
            fill: @TextBody;
          }
        }
      }
    }

    .attributeList {
      font-size: 14px;
      margin-top: 48px;
      color: @TextBody;
      @media @tablet {
        margin-top: 16px;
      }
      @media @mobile {
        margin-top: 24px;
      }

      .attrListWrap {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // gap: 2%;
        @media @mobile {
          display: flex;
        }
      }
      .attrName {
        line-height: 20px;
        font-weight: 700;
        align-self: stretch;

        border-bottom: 1px solid @DividerStokes;
        background-color: @ThemeAccentL2;
        @media @mobile {
          flex: 0 0 149px;
        }
      }
      .attrDescName {
        background-color: @ThemeAccentL3;
        border-bottom: 1px solid var(--dividerStokes, #d4d1d1);
        @media @mobile {
          background: inherit;
          flex: 0 0 140px;
          background-color: @ThemeAccentL3;
        }
        span {
          word-wrap: break-word;
          line-height: 20px;
          @media @tablet {
            max-width: 150px;
          }
          @media @mobile {
            max-width: 100px;
          }
        }
        &:last-child {
          border-right: 0;
        }
      }
      .alignAttribute {
        padding: 16px;
        text-align: left;
        @media @mobile {
          min-width: 149px;
          min-height: 53px;
          display: flex;
          align-items: center;
        }
      }
    }
    .errorMessage {
      font-size: 14px;
      padding: 16px 0;
      color: @TextBody;
    }
  }
  .compareContainer::-webkit-scrollbar {
    display: none;
  }

  .addSearchContainer {
    position: sticky;
    top: 60px;
    align-self: flex-start;
    width: 100%;
    display: none;
    //
    display: block;
    z-index: 1;
    //
    .searchBox {
      .crossBtn {
        top: 10px;
        right: 10px;
        cursor: pointer;
        svg {
          width: 16px;
          height: 16px;
          fill: @TextHeading;
        }
      }
      .searchBlock {
        padding: 24px;
        background-color: @ThemeAccentL4;
        .searchHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 10px;
          .addSearchTitle {
            color: @TextHeading;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.56px;
            @media @mobile {
              font-size: 16px;
              font-weight: 600;
              letter-spacing: -0.32px;
            }
          }
          .crossBtn {
            top: 10px;
            right: 10px;

            svg {
              width: 16px;
              fill: @TextHeading;
            }
          }
        }
        .searchContainer {
          display: flex;
          align-items: center;
          padding: 14px 12px;
          border-radius: 4px;
          border: 1px solid @HeaderNav;
          background: @ThemeAccentL5;
          .inputBox {
            background-color: @ThemeAccentL5;
            width: 100%;
            box-sizing: border-box;
            border: none;
            padding: none;
            color: @HeaderNav;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.28px;
          }
          .searchIcon {
            position: relative;
            width: 40px;
            height: 20px;
          }
        }
      }
      .popularhdng {
        font-size: 20px;
        padding: 16px 0;
        font-weight: 700;
        color: @TextHeading;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
        text-transform: capitalize;
      }
      .landingBestsellerHandest {
        padding: 20px 30px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #d4d1d1;
        box-shadow:
          0px 8px 24px -4px rgba(78, 63, 9, 0.08),
          0px 4px 4px 0px rgba(78, 63, 9, 0.08);
        padding: 8px 8px 16px 8px;

        .whiteSmallRBox {
          width: 100%;
          background: @ThemeAccentL4;
          border-radius: 5px;
          cursor: pointer;
          margin: 0 auto;
          padding: 12px 0 12px 10px;
          position: relative;
          margin-top: 12px;
          @media @tablet {
            padding: 0;
          }
        }
        .media {
          margin-top: 15px;
          display: flex;
          align-items: center;
          color: @TextBody;
          /* Desktop/Body/B3 */
          font-size: 16px;
          font-weight: 400;
          line-height: 20px; /* 125% */
          letter-spacing: -0.32px;
          &:first-child {
            margin-top: 0;
          }
          .mediaLeft {
            flex: 0 0 56px;
            height: 56px;
            margin-right: 12px;
            img {
              width: 55px;
            }
          }
          .mediaLeftName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .searchResults {
        position: relative;
        max-height: 400px;
        @media @mobile {
          max-height: 300px;
        }
        overflow: auto;
      }

      .notFoundBlock {
        padding: 8px 8px 16px 8px;
        border-radius: 4px;
        border: 1px solid #d4d1d1;
        box-shadow:
          0px 8px 24px -4px rgba(78, 63, 9, 0.08),
          0px 4px 4px 0px rgba(78, 63, 9, 0.08);
        @media @tablet {
          padding: 8px;
        }
      }
      .notFound {
        color: @TextBody;
        line-height: normal;
        padding: 16px;
        background: @ThemeAccentL4;
        @media @tablet {
          padding: 12px;
        }
        @media @mobile {
          padding: 12px 0px;
        }
      }
    }
  }
}

.bold-md {
  font-weight: 700;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
.button {
  width: fit-content;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
  transition: all 0.4s;
  border: 0.8px solid @DividerStokes;
  border-radius: @ButtonRadius;

  @media @tablet {
    font-size: 12px;
  }
}

.addToCompare {
  svg path {
    fill: @ButtonSecondary !important;
  }
  .compareIcon {
    margin-right: 5px;
  }
}

.compareModal {
  .crossBtn {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 16px 24px;
    @media @mobile {
      padding: 8px;
    }
    svg {
      width: 24px;
    }
  }
  .modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 35px;
    @media @mobile {
      padding: 16px;
    }

    .modalContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      .image {
        text-align: center;
        img {
          margin: auto;
          @media @mobile {
            width: -webkit-fill-available;
          }
        }
      }
      .primary-text {
        color: @TextBody;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
        text-transform: capitalize;
        line-height: 27px;
        width: 60%;
        padding-top: 24px;
        @media @mobile {
          padding: 0 20px;
          font-size: 16px;
          width: 100%;
        }
      }
    }
    .button-container {
      display: flex;
      gap: 15px;
      align-items: center;
      bottom: 0;
      box-sizing: border-box;
      margin: 24px auto;
      width: 65%;
      @media @tablet {
        align-items: inherit;
        flex-direction: column;
        width: 100%;
      }
      button {
        width: 100%;
      }
      & > :first-child {
        flex: 0 0 40%;
      }
      & > :nth-child(2) {
        flex: 0 0 55%;
      }
      .btnNoBorder {
        border: 0.8px solid transparent;
      }
    }
  }
}
